# Pandas - Intro

* Biblioteca de Python, creada por Wes McKinney en 2008
* Utilizada para trabajar con conjuntos de datps
* Funciones para analizar, limpiar, explorar y manipular los datos
* Permite analizar grandes datos y sacar conclusiones basadas en teorías estadísticas:
  * ¿Existe una correlación entre dos o más variables/columnas?
  * ¿Qué es el valor medio, máximo, mínimo?
  * Etc.
* Limpiar datos: eliminar casos/filas irrelevantes o que contienen valores incorrectos (valores vacíos o nulos)

## Instalación

pip install pandas

## Ejemplo

In [2]:
import pandas as pd  # gralmente. se importa con el alias pd

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

In [4]:
myvar = pd.DataFrame(mydataset)

In [5]:
myvar

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2