# Pandas - Export

In [1]:
import pandas as pd

In [4]:
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
igm = ['Instagram', 1000, True, 2010]
ytb = ['YouTube', 2000, False, 2005]
lkn = ['LinkedIn', 663, False, 2003]
wsp = ['WhastsApp', 1600, True, 2009]

rrss = [fbk, twt, igm, ytb, lkn, wsp]

df = pd.DataFrame(rrss, columns=['Nombre', 'Cantidad', 'es_FBK', 'Anio'])
df

      Nombre  Cantidad  es_FBK  Anio
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5  WhastsApp      1600    True  2009

## Exportar a Excel

In [6]:
# Exportar df a excel
df.to_excel('/Users/ppando/Materias/python/doc/data/pandas_datos_export.xlsx')

In [7]:
# Exportar df a excel sin indices 
df.to_excel('/Users/ppando/Materias/python/doc/data/pandas_datos_export_no_index.xlsx', index=False)

## Exportar a CSV

In [8]:
# Exportar df a csv
df.to_csv('/Users/ppando/Materias/python/doc/data/pandas_datos_export.csv')

In [9]:
# Exportar df a csv sin indices
df.to_csv('/Users/ppando/Materias/python/doc/data/pandas_datos_export_no_index.csv', index=False)

In [10]:
# Exportar df a csv sin indices y con puntos y coma
df.to_csv('/Users/ppando/Materias/python/doc/data/pandas_datos_export_no_index_pyc.csv', index=False, sep=';')